<%= render 'layouts/sidebar' %>

<div class="col-8 offset-1">
  <h2>Book detail</h2>

  <table class="table">
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(@found_book.user) do %>
            <%= image_tag @found_book.user.get_profile_image(100, 100) %>
            <br>
            <%= @found_book.user.name %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(@found_book) do %>
            <%= @found_book.title %>
          <% end %>
        </td>
        <td>
          <%= @found_book.body %>
        </td>

        <% if @found_book.user == current_user %>
          <td>
            <%= link_to 'Edit', edit_book_path(@found_book), class: 'btn btn-success btn-sm' %>
          </td>
          <td>
            <%= link_to 'Destroy', book_path(@found_book), method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: '本当に消しますか？'} %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>